/* CSS files add styling rules to your content */

body {
   font-family: "Inconsolata", monospace;
  background-color: #ccccff;/* For browsers that do not support gradients */
  margin: 2em;
  padding: 2em;
  font-size: 18px;
}

.btn,
p.itemPara,
p {
  padding: 12px 16px;
  margin: 2px;
  font-size: 18px;
}

h1,
p {
  padding: 12px 3px;
  margin: 2px;
}

a,
p {
  color: black;
  line-height: 22px;
}

a.itemLink,
p.itemPara {
  float: left;
  display: inline-block;
  border-radius: 12px;
  background-color: #f1f1f1;
}

a.itemLink{
  font-weight:bold;
}

.filterDiv,
.show {
  float: left;
  width: 100%;
}

.filterDiv,
.show,
.btn {
  margin: 2px 2px;
}

.filterDiv {
  display: none;
}

.show {
  display: inline-block;
}

#myBtnContainer {
  margin-bottom: 20px;
}

.container {
  margin-bottom: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
font-family: "Inconsolata", monospace;
  border-radius: 12px;
  background-color: #f1f1f1;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
