/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  background-color: #f5e2dc;
  margin: 2em;
  font-size: 14px;
}

h1,
.btn,
p {
  padding: 12px 16px;
  margin: 2px;
}

.btn,
.filterDiv {
  margin: 2px 2px;
}

a,
p {
  float: left;
  display: inline-block;
  color: black;
  font-size: 14px;
  line-height: 18px;
  border-radius: 12px;
  background-color: #f1f1f1;
}

.filterDiv {
  float: left;
  width: 100%;
  display: none;
}

.show {
  float: left;
  display: inline-block;
}

.container {
  margin-top: 20px;
  overflow: hidden;
}

/* Style the buttons */
.btn {
  border-radius: 12px;
  background-color: #f1f1f1;
  font-size: 14px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
